@font-face {
    font-family: "firestarter";
    src: url("FIRESTARTER.TTF");
  }
  #mainTitle {
    color: red;
    text-align: center;
    font-family: "firestarter";
    margin-top: 1%;
  }
  #profileTitle {
    color: red;
    text-align: left;
    margin-left: 5%;
    font-family: "firestarter";
  }
  #profileInfo {
    color: darkred;
    text-align: left;
    margin-left: 10%;
  }
  #mainInfo {
    color: darkred;
    text-align: left;
    margin-left: 10%;
    margin-bottom:1%;
  }
  #profileDetails {
    color: red;
    text-align: left;
    margin-left: 7%;
  }
  #profileSection {
    color: red;
    text-align: left;
    margin-left: 15%;
  }
  #navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  #logout-button{
    border: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  #navli {
    float: left;
  }
  #navli-right {
    float: right;
  }
  #submitButton {
    background-color:red;
    border-radius: 4px;
    color:black;
    margin: auto;
    display:flex;
    justify-content: center;
    margin-top: 1%;
  }
  #authButtons {
    background-color:red;
    border-radius: 4px;
    color:black;
    margin: auto;
    display:flex;
    justify-content: center;
    margin-top: 2.5%;
    padding: 10px;
    font-size: 20px;
  }
  #errorText {
    color: darkred;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  li p {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li p:hover {
    background-color: #111;
  }
  .postcount {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 150px;
  }
  form {
    text-align: center;
    margin:auto;
    width: 50%;
  }
  input {
    border: 2px solid red;
    border-radius: 4px;
  }
  textarea {
    border: 2px solid red;
    border-radius: 4px;
  }
  #NewBlogTitle {
    color: red;
    text-align: center;
    font-family: "firestarter";
  }
  #prevList {
    text-align: left;
    margin-left: 15%;
  }
  #blogList {
    overflow: scroll;
    height: 500px;
  }
  #PrevList {
    padding-left: 0;
    list-style: none;
  }
  .postContainer {
    background-color: lightgray;
    padding: 15px;
    font-size: 15px;
  }
  .child {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 700px;
  }
  #profilepic{
    height: 25px;
    width: 25px;
  }
  .social-media-icons a {
    color: red;
    font-size: 2rem;
  }
  .form-control form {
    width: 50%;
    color:red;
  }
  #input {
    width: 50%;
    margin: auto;
    border: 2px solid red;
    border-radius: 4px;
  }
  #inputLabel {
    color:red;
  }
  #amount {
    margin-left: 20%;
  }
  #contList {
    margin-top: 1%;
    display: inline-block;
  }
  ul {
    text-align: center;
    margin:center;
  }